* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Display", sans-serif;
}

/* HEADER AND FOOTER IMAGES/ICONS */
.hamburger {
  width: 20px;
  height: 20px;
}

.three-dots {
  width: 20px;
  height: 20px;
}

.checkmark {
  width: 35px;
  height: 35px;
}

.sun {
  width: 25px;
  height: 25px;
}

.moon {
  width: 22px;
  height: 22px;
}

.github-logo {
  width: 25px;
  height: 25px;
}

.add-icon {
  width: 30px;
  height: 30px;
}

/* END OF IMAGES */

div#content {
  background-color: #d1d5db;
}

div.header-contents {
  border-bottom: 3px solid #0ea5e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 10vh;
}

div.header-contents > div:first-child:hover {
  cursor: pointer;
}

div.header-contents > div:nth-child(2) > div:first-child {
  margin-bottom: -6px;
  color: #0ea5e9;
}

div.header-contents > div:nth-child(2) {
  display: flex;
  align-items: center;
}

div.header-contents > div > p {
  font-size: 3rem;
  font-weight: 700;
}

div.header-contents > div > p:last-child {
  color: #0ea5e9;
}

.toggle {
  margin-bottom: 25px;
}

label.screen-mode {
  width: 65px;
  height: 35px;
  position: relative;
  display: block;
  background-color: #ffffff;
  border-radius: 200px;
  border: 3px solid #0ea5e9;
  cursor: pointer;
  transition: 1s;
}

div.toggle > label:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 35px;
  background: #0ea5e9;
  border: #0ea5e9;
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

div.toggle > input {
  width: 0;
  height: 0;
  visibility: hidden;
}

div.toggle > input:checked + div.toggle > label {
  background: #242424;
}

div.toggle > input:checked + div.toggle > label:after {
  right: 500px;
  transform: translateX(100%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

#content {
  background: #000000;
  z-index: -1;
  transition: 0.3s;
}

div.toggle > input:checked + div.toggle > label + #content {
  background: #242424;
}

label img {
  position: absolute;
  width: 120px;
  top: 2px;
  z-index: 100;
}

label img.sun {
  transition: 0.3s;
}

label img.moon {
  top: 5px;
  right: 0;
  fill: #089cff;
  transition: 0.3s;
  display: none;
}

indiv.toggle > put.se:checked + label img.sun {
  display: none;
}

div.toggle > input:checked + label img.moon {
  display: block;
}

/* BODY ELEMENTS */
section.body-section {
  height: 90vh;
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 25vw;
  background-color: white;
  padding: 0 25px;
  height: 90vh;
}

.sidebar-home > h1 {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

.sidebar-tasks {
  padding: 15px 0;
}

.sidebar-tasks > div {
  padding: 15px 20px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  height: 35px;
}

.sidebar-tasks > div:hover {
  background-color: #e5e5e5;
  cursor: pointer;
}

.sidebar img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.sidebar-tasks > div > p {
  font-size: 16px;
  font-weight: 600;
}

.sidebar-projects > h1 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
}

.sidebar-projects > div.add-project {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
  /* margin-top: 10px; */
}

/* div.project-form {
  overflow: hidden;

  line-height: 100px;
  transition: all 1s ease-in-out;
  transform-origin: left top;
  transform: scaleY(0);
}

div.project-form:target {
  transform: scaleY(1);
} */

.sidebar-projects > div.add-project > div {
  display: flex;
  align-items: center;
}

.sidebar-projects > div.add-project:hover,
.sidebar-projects > section.project-form:hover,
.new-project:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  border-radius: 5px;
}

.sidebar-projects > div > img.add-icon {
  margin-right: 30px;
}

.sidebar-projects > section.project-form {
  margin-bottom: 10px;
  padding: 20px;
}

.form-top {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.form-top > div {
  margin-right: 5px;
}

.form-top > div:last-child {
  width: 100%;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
}

.form-top > label > input {
  box-sizing: border-box;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  padding: 15px 5px;
  font-size: 16px;
  font-weight: 600;
}

div.add-cancel {
  display: flex;
  justify-content: center;
}

button.add-btn,
button.cancel-btn {
  width: 75px;
  height: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 600;
}

button.add-btn {
  margin-right: 10px;
}

button.add-btn {
  background-color: #089cff;
}

button.cancel-btn {
  background-color: rgb(214, 1, 1);
}

/* NEW PROJECT  */
.new-project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  cursor: pointer;
}

.new-project > div:first-child {
  margin-right: 10px;
  display: flex;
}

.new-project > div:first-child > div {
  margin-right: 10px;
}

.new-project > div.dots-icon {
  float: right;
}

/* TASK ELEMENTS */
#taskContents {
  padding: 50px;
  width: 75vw;
  display: flex;
  flex-direction: column;
}

.task-header {
  height: 125px;
  padding: 30px 20px;
  border-radius: 3px;
  color: #fff;
  background-color: #0285dd;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  width: 100%;
}

.no-tasks {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: #373636;
}

.add-task {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  padding-left: 40px;
  cursor: pointer;
}

.add-task > img {
  margin-right: 20px;
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #c2c8d1;
}

footer > p {
  font-size: 1.25rem;
  margin-left: 10px;
}

.hidden {
  display: none;
}
