* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans Display", sans-serif;
}

div#content {
  background-color: #d1d5db;
}

header {
  border-bottom: 3px solid #0ea5e9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  height: 10vh;
}

header > div:nth-child(2) > div:first-child {
  margin-bottom: -6px;
  color: #0ea5e9;
}

header > div:nth-child(2) {
  display: flex;
  align-items: center;
}

header > div > p {
  font-size: 3rem;
  font-weight: 700;
}

header > div > p:last-child {
  color: #0ea5e9;
}

.toggle {
  margin-bottom: 25px;
}

label {
  width: 65px;
  height: 35px;
  position: relative;
  display: block;
  background-color: #ffffff;
  border-radius: 200px;
  border: 3px solid #0ea5e9;
  cursor: pointer;
  transition: 1s;
}

label:after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 35px;
  background: #0ea5e9;
  border: #0ea5e9;
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

input {
  width: 0;
  height: 0;
  visibility: hidden;
}

input:checked + label {
  background: #242424;
}

input:checked + label:after {
  right: 100px;
  transform: translateX(-140%);
  background: linear-gradient(180deg, #777, #3a3a3a);
}

/* label:active::after {
  width: 50px;
} */

#content {
  background: #000000;
  z-index: -1;
  transition: 0.3s;
}

input:checked + label + #content {
  background: #242424;
}

label svg {
  position: absolute;
  width: 120px;
  top: 2px;
  z-index: 100;
}

label svg.sun {
  left: -42px;
  fill: #fbbf24;
  transition: 0.3s;
}

label svg.moon {
  top: 5px;
  left: -18px;
  fill: #089cff;
  transition: 0.3s;
  display: none;
}

input:checked + label svg.sun {
  display: none;
}

input:checked + label svg.moon {
  display: block;
}

section.body-section {
  height: 90vh;
}

/* SIDEBAR STYLES */
.sidebar {
  width: calc(25rem - 0.5vw);
  background-color: white;
  padding: 0 25px;
  height: 90vh;
}

.sidebar-home > h1 {
  font-size: 2rem;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}

.sidebar-tasks {
  padding: 15px 0;
}

.sidebar-tasks > div {
  margin: 15px 0;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.sidebar img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.sidebar-tasks > div > p {
  font-size: 18px;
  font-weight: 600;
}

.sidebar-projects > h1 {
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 3px solid black;
}

.sidebar-projects > div.add-project {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 20px;
  transition: 0.3s ease-in-out;
}

.sidebar-projects > div.add-project:hover {
  cursor: pointer;
  background-color: #e5e5e5;
  border-radius: 15px;
}

.sidebar-projects > div > div {
  padding-right: 30px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #c2c8d1;
}

footer > p {
  font-size: 1.25rem;
  margin-left: 10px;
}
